.radius {
    border-radius: 15px;
  }
  .treatment-banner {
    display: flex;
    justify-content: center;
  }
  
@media all and (max-width:688px) {
  .treatment-banner {
    display: flex;
    justify-content: center;
  }  
}