.radius {
  border-radius: 20px;
}
h5 {
  color: #0b114a;
}
.about-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-res-img {
  display: none;
}
.about-img {
  display: flex;
  justify-content: center;
}
.about-img img {
  width: 446px;
  height: 586px;
}
@media all and (max-width: 688px) {
  .about-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-res-img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .about-res-img img {
    width: 266px;
    height: 266px;
  }
  .about-img {
    display: none;
  }
}
